/* Reset default browser styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set display flex to all elements */

main{
    display: flex;
    flex-direction: column; /* default direction as column */
}

html, body {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
}
